/*
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

*/


/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

div.tab-area-base {
  height: 0px;
  width: 95%;
  margin: auto;
}

ul.tab-menu-base {
  overflow: hidden;
  list-style: none;
  margin: 0px auto;
  padding: 0;
  border-bottom: solid 1px;
  border-bottom-color: rgb(200, 200, 200);
}

ul.tab-menu-base li {
  float: left;
  margin: 5px 5px 0 0;
  padding: 5px;
  background: rgb(240, 240, 240);
  border-radius: 10px 10px 0 0;
  height: 100%;
  width: 180px;
  font-size: 1.1rem;
  text-align: center;
}

ul.tab-menu-base li a {
  color: rgb(19, 157, 255);
}

ul.tab-menu-base li.current {
  background: rgb(240, 240, 240);
}
*/

body {
  background-color: #eaeaea;
}

:root {
  /* font-family: '源ノ角ゴシック', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #111;
  margin-top: 60px;
}

.tasklist {
  text-align: left;
  display: inline-block;
}

.point_view {
  background-color: rgba(66, 255, 98, 0.68);
  position: fixed;
  padding: 20px;
  right: 20px;
  top: 100px;
  border-radius: 10px;
}

.reset_block>button {
  color: red;
  margin: 5px;
}


.main_browser{
  margin-top: 100px;
}

/* Google Icons */
.material-symbols-rounded {
  display: inline-flex;
  font-size: 18px;
  vertical-align: middle;
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}

.tab {
  display: inline-flex;
  align-items: center;
}

button.run_button{
  margin: 20px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
